h1,p,h3{
    font-family: 'montserrat';
}

h3 {
    font-size: 24px;
}

.gambar_kanan,
.gambar_kiri {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    height: 25%;
    border-radius: .55rem;
    overflow: hidden;
}

.text {
    text-align: justify;
}
.gambar_kanan .text {
    padding: 1rem 0 1rem 3rem;
    direction: rtl;
}
.gambar_kiri .text {
    padding: 1rem 3rem 1rem 0;
}

.gambar_kanan {
    text-align: right;
    background-color: var(--secondary-blue)
}

.gambar_kiri {
    text-align: left;
    background-color: var(--main-grey)
}