@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-blue: #88CFF9;
    --main-red: #F06363;
    --main-red-transparent: rgba(240, 99, 99, .4);
    --main-grey: rgba(0, 0, 0, .05);
    --black-not-hover: rgba(0, 0, 0, .4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
}
