* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1 {
    color: rgba(5, 6, 15, 1);
}

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    display: flex;
    flex-direction: column-reverse;
}

label {
    display: block;
    margin-bottom: .3rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s ease;
}

input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
    background-color: #05060f0a;
    border-radius: .5rem;
    height: 5vh;
    padding: 0 1rem;
    border: 2px solid rgba(5, 6, 15, 0);
    transition: .3s;
}

input[type=text]:hover, 
input[type=password]:hover {
    border: 2px solid rgba(5, 6, 15, 1);
}

input[type=text]:hover + label,
input[type=password]:hover + label,
input[type=text]:focus + label,
input[type=password]:focus + label {
    color: rgba(5, 6, 15, 1);
}

input[type=submit] {
    width: 100%;
    border-radius: 2rem;
    height: 7vh;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
    border: 2px solid rgba(5, 6, 15, 1);
}

input[type=submit]:hover {
    background-color: rgba(5, 6, 15, 1);
    color: white;
}

.input-box {
    width: 100%;
}